<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device - width, initial-scale=1">
    <title>Taleit</title>
    <link href="../js/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>
<body>

<!--header-->
<div class="header-outer ">
    <div class="header-inner container-fluid">
        <div class="row">
            <!--tell the tale-->
            <div class="tell-the-tale col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <span class="center-block"><a href="/">tell the tale</a></span>
            </div>
            <!--search and headings-->
            <div class="search-headings col-xs-10 col-sm-10 col-md-6 col-lg-6">
                <div class="row">
                    <!--search-->
                    <div class="search-box col-xs-3 col-sm-3 col-md-12 col-lg-12">
                        <div class="row">
                            <form role="search">
                                <div class="hidden-xs hidden-sm col-md-offset-1 col-md-9 col-lg-offset-1 col-lg-9">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                                <button type="submit" class="center-block col-md-1 col-lg-1 btn btn-info">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </form>
                        </div>

                    </div>
                    <!--headings-->
                    <div class="navigation-pane col-xs-9 col-sm-9 col-md-12 col-lg-12">
                        <!--nav pills-->
                        <ul class="hidden-xs hidden-sm nav nav-pills nav-justified">
                            <li role="presentation" class="active"><a href="#allStories">All stories</a></li>
                            <li role="presentation"><a href="#topStories">Top stories</a></li>
                            <li role="presentation"><a href="#recentStories">Recent stories</a></li>
                            <li role="presentation"><a href="#editorsPick">Editor's Pick</a></li>
                        </ul>

                        <!--button dropdown-->
                        <div class="hidden-md hidden-lg btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                All stories <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#allStories">All stories</a></li>
                                <li><a href="#topStories">Top stories</a></li>
                                <li><a href="#recentStories">Recent stories</a></li>
                                <li><a href="#editorsPick">Editor's Pick</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--user info and help/about-->
            <div class="help-about-user col-xs-2 col-sm-2 col-md-offset-1 col-md-2 col-lg-2">
                <!--help and about-->
                <div class="help-about hidden-xs hidden-sm col-md-12 col-lg-12">
                    <div>
                        <a href="/help">help</a>
                        <a href="/about">about</a>
                    </div>
                </div>
                <!--user info or login-->
                <div class="user col-md-12 col-lg-12">
                <!--{{#if user}}-->
                    <!--<div class="row">-->
                    <!--&lt;!&ndash;user image&ndash;&gt;-->
                    <!--<div class="userImage col-md-4 col-lg-4">-->
                    <!--<a href="/users/user/profile/{{user.userName}}">-->
                    <!--<img src="{{user.userImage}}" class="img-responsive img-circle center-block">-->
                    <!--</a>-->
                    <!--<span class="hidden-md hidden-lg caret"></span>-->
                    <!--</div>-->
                    <!--&lt;!&ndash;drowdown with userName on it&ndash;&gt;-->
                    <!--<div class="hidden-xs hidden-sm col-md-8 col-lg-8">-->
                    <!--&lt;!&ndash; Single button &ndash;&gt;-->
                    <!--<div class="btn-group">-->
                    <!--<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"-->
                    <!--aria-haspopup="true" aria-expanded="false">-->
                    <!--{{user.userName}} <span class="caret"></span>-->
                    <!--</button>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="/users/user/profile/{{user.userName}}">-->
                    <!--<span>{{user.userName}}</span>-->
                    <!--<span>view profile</span>-->
                    <!--</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="/help">Support</a></li>-->
                    <!--<li><a href="/">Taleit Home</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="/users/user/settings">Settings and privacy</a></li>-->
                    <!--<li><a href="/users/user/logout">Log out</a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                        <!--{{else}}-->
                    <button type="button" class="hidden-xs hidden-sm center-block btn btn-danger">Login or Register
                    </button>

                    <div class="login-signUp-images hidden-md hidden-lg center-block" role="group" aria-label="...">
                        <img class="center-block" src="assets/images/login.png">
                    </div>
                        <!--{{/if}}-->
                </div>
            </div>
        </div>

    </div>
</div>

<!--middle-->
<div class="middle container-fluid">
    <div class="row">
        <div class="middle-inner col-xs-12 col-sm-12 col-md-push-1 col-md-10">
            <div class="row">
                <div class="categories-container-outer">
                    <div class="categories-container">
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                        <div class="category-container"><span>Pawan</span></div>
                    </div>
                    <div class="caret-container"><span class="center-block caret"></span></div>
                </div>

                <div class="stories-container col-xs-push-1 col-xs-10 col-sm-push-1 col-sm-10  col-md-push-1 col-md-10 col-lg-push-1 col-lg-10">
                    <div class="story-container">
                        <span>hdsaifui</span>
                    </div>
                    <div class="story-container">Pawan Bansal</div>
                    <div class="story-container"></div>
                    <div class="story-container"></div>
                    <div class="story-container"></div>
                    <div class="story-container"></div>
                    <div class="story-container"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--buttons-->
<div class="buttons">
    <button type="button" class="shuffleButton btn btn-danger" title="Shuffle Stories">
        <span class="glyphicon glyphicon-random" aria-hidden="true"></span><span> Shuffle</span>
    </button>
    <button type="button" class="newButton btn btn-primary btn-lg" title="Start a new story">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><span> New</span>
    </button>
</div>

<!--Footer-->
<div class="footer">

</div>

<script src="../js/jquery-3.2.1.min.js"></script>
<script src="../js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>